# Library

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings(action='ignore')

# 한글 폰트 인식 - Windows
import matplotlib 
font_name = matplotlib.font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
matplotlib.rc('font', family=font_name)

# 마이너스 부호 인식
matplotlib.rc("axes", unicode_minus = False)

# [오픈API를 통한 데이터 수집]

## 금융통계손해보험정보

https://www.data.go.kr/data/15061307/openapi.do

### (1) 필요 라이브러리 불러오기

In [3]:
# pip install bs4

import requests
from bs4 import BeautifulSoup

### (2) open_api 요청 테스트

In [7]:
# 본인의 ServiceKey 입력

# ServiceKey = 'ZN0B7TMQ6ADGaVcUiE2QnB9GdE9e8FWZ%2Bj8tQ%2FRJ8k6XNjjT6lyLzF6W0056eoZyhdORyM3dfXcWZEMAtpODDQ%3D%3D'
ServiceKey = 'g0OhTQflzDelAVixM%2Bm0EtPvJvzcv1ZYwO%2Bj9b%2Fi4bmToDzAyifU%2FHxjCAhbsRMcozdUhj7E9i%2Bc5S7l3JzP9w%3D%3D'

In [8]:
# OPEN API 활용 가이드 > 요청메시지 명세 참고

# 손해보험주요영업활동조회
url = "http://apis.data.go.kr/1160100/service/GetNonlInsuCompInfoService/getNonlInsuCompMajoBusiActi?"

api_url = url + "serviceKey="+ ServiceKey

In [9]:
api_url

'http://apis.data.go.kr/1160100/service/GetNonlInsuCompInfoService/getNonlInsuCompMajoBusiActi?serviceKey=ATwHinqqgg1NCHfszs0ceuZwoPdJ2yZQy5ursnnWlEq1GgsWdTG7x7lO%2BKq3aZflulOxHPF0BPsgxDgpII3udA%3D%3D'

### (3) 가져온 XML 데이터 파싱

In [10]:
req = requests.get(api_url)
xml = req.text

In [11]:
xml

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?>\n<response>\n    <header>\n        <resultCode>00</resultCode>\n        <resultMsg>NORMAL SERVICE.</resultMsg>\n        <pageNo>1</pageNo>\n        <numOfRows>10</numOfRows>\n    </header>\n    <body>\n        <table>\n            <title>손보_주요영업활동_보험종류별 경과손해율</title>\n            <totalCount>20160</totalCount>\n            <items>\n                <item>\n                    <basYm>201709</basYm>\n                    <crno>1101110013328</crno>\n                    <fncoCd>0010626</fncoCd>\n                    <fncoNm>메리츠화재해상보험주식회사</fncoNm>\n                    <isuKindElpsLosRatClsfAmt>76.97</isuKindElpsLosRatClsfAmt>\n                    <isuKindElpsLosRatDcd>A</isuKindElpsLosRatDcd>\n                    <isuKindElpsLosRatDcdNm>경과손해율_자동차</isuKindElpsLosRatDcdNm>\n                </item>\n                <item>\n                    <basYm>202109</basYm>\n                    <crno>1101110013328</crno>\n                    <fncoCd>0010626</fncoCd>\n                    <fncoNm>메리츠화재해상보험주식회사</fncoNm>\n                    <isuKindElpsLosRatClsfAmt>75.77</isuKindElpsLosRatClsfAmt>\n                    <isuKindElpsLosRatDcd>A</isuKindElpsLosRatDcd>\n                    <isuKindElpsLosRatDcdNm>경과손해율_자동차</isuKindElpsLosRatDcdNm>\n                </item>\n                <item>\n                    <basYm>201609</basYm>\n                    <crno>1101110013328</crno>\n                    <fncoCd>0010626</fncoCd>\n                    <fncoNm>메리츠화재해상보험주식회사</fncoNm>\n                    <isuKindElpsLosRatClsfAmt>83.09</isuKindElpsLosRatClsfAmt>\n                    <isuKindElpsLosRatDcd>A</isuKindElpsLosRatDcd>\n                    <isuKindElpsLosRatDcdNm>경과손해율_자동차</isuKindElpsLosRatDcdNm>\n                </item>\n                <item>\n                    <basYm>201403</basYm>\n                    <crno>1101110013328</crno>\n                    <fncoCd>0010626</fncoCd>\n                    <fncoNm>메리츠화재해상보험주식회사</fncoNm>\n                    <isuKindElpsLosRatClsfAmt>91.3</isuKindElpsLosRatClsfAmt>\n                    <isuKindElpsLosRatDcd>A</isuKindElpsLosRatDcd>\n                    <isuKindElpsLosRatDcdNm>경과손해율_자동차</isuKindElpsLosRatDcdNm>\n                </item>\n                <item>\n                    <basYm>201503</basYm>\n                    <crno>1101110013328</crno>\n                    <fncoCd>0010626</fncoCd>\n                    <fncoNm>메리츠화재해상보험주식회사</fncoNm>\n                    <isuKindElpsLosRatClsfAmt>90.89</isuKindElpsLosRatClsfAmt>\n                    <isuKindElpsLosRatDcd>A</isuKindElpsLosRatDcd>\n                    <isuKindElpsLosRatDcdNm>경과손해율_자동차</isuKindElpsLosRatDcdNm>\n                </item>\n                <item>\n                    <basYm>201806</basYm>\n                    <crno>1101110013328</crno>\n                    <fncoCd>0010626</fncoCd>\n                    <fncoNm>메리츠화재해상보험주식회사</fncoNm>\n                    <isuKindElpsLosRatClsfAmt>77.41</isuKindElpsLosRatClsfAmt>\n                    <isuKindElpsLosRatDcd>A</isuKindElpsLosRatDcd>\n                    <isuKindElpsLosRatDcdNm>경과손해율_자동차</isuKindElpsLosRatDcdNm>\n                </item>\n                <item>\n                    <basYm>201106</basYm>\n                    <crno>1101110013328</crno>\n                    <fncoCd>0010626</fncoCd>\n                    <fncoNm>메리츠화재해상보험주식회사</fncoNm>\n                    <isuKindElpsLosRatClsfAmt>81.78</isuKindElpsLosRatClsfAmt>\n                    <isuKindElpsLosRatDcd>A</isuKindElpsLosRatDcd>\n                    <isuKindElpsLosRatDcdNm>경과손해율_자동차</isuKindElpsLosRatDcdNm>\n                </item>\n                <item>\n                    <basYm>201809</basYm>\n                    <crno>1101110013328</crno>\n                    <fncoCd>0010626</fncoCd>\n                    <fncoNm>메리츠화재해상보험주식회사</fncoNm>\n                    <isuKindElpsLosRatClsfAmt>79.69</isuKindElpsLosRatClsfAmt>\n                    <isuKindElpsLosRatDcd>A</isuKindElpsLosRatDcd>\n                    <isuKindElpsLosRatDcdNm>경과손해율_자동차</isuKindElpsLosRatDcdNm>\n                </item>\n                <item>\n                    <basYm>201203</basYm>\n                    <crno>1101110013328</crno>\n                    <fncoCd>0010626</fncoCd>\n                    <fncoNm>메리츠화재해상보험주식회사</fncoNm>\n                    <isuKindElpsLosRatClsfAmt>83.94</isuKindElpsLosRatClsfAmt>\n                    <isuKindElpsLosRatDcd>A</isuKindElpsLosRatDcd>\n                    <isuKindElpsLosRatDcdNm>경과손해율_자동차</isuKindElpsLosRatDcdNm>\n                </item>\n                <item>\n                    <basYm>201712</basYm>\n                    <crno>1101110013328</crno>\n                    <fncoCd>0010626</fncoCd>\n                    <fncoNm>메리츠화재해상보험주식회사</fncoNm>\n                    <isuKindElpsLosRatClsfAmt>78.15</isuKindElpsLosRatClsfAmt>\n                    <isuKindElpsLosRatDcd>A</isuKindElpsLosRatDcd>\n                    <isuKindElpsLosRatDcdNm>경과손해율_자동차</isuKindElpsLosRatDcdNm>\n                </item>\n            </items>\n        </table>\n    </body>\n</response>\n'

In [12]:
soup = BeautifulSoup(xml, 'html.parser')

In [13]:
soup

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<response>
<header>
<resultcode>00</resultcode>
<resultmsg>NORMAL SERVICE.</resultmsg>
<pageno>1</pageno>
<numofrows>10</numofrows>
</header>
<body>
<table>
<title>손보_주요영업활동_보험종류별 경과손해율</title>
<totalcount>20160</totalcount>
<items>
<item>
<basym>201709</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>76.97</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>
<item>
<basym>202109</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>75.77</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>
<item>
<basym>201609</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>83.09</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>
<item>
<basym>201403</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>91.3</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>
<item>
<basym>201503</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>90.89</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>
<item>
<basym>201806</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>77.41</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>
<item>
<basym>201106</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>81.78</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>
<item>
<basym>201809</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>79.69</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>
<item>
<basym>201203</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>83.94</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>
<item>
<basym>201712</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>78.15</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>
</items>
</table>
</body>
</response>

In [14]:
# 전체 결과수 
totalCount = soup.select('totalCount')
totalCount

In [15]:
# 한 페이지 결과수 
numOfRows = soup.select('numOfRows')
numOfRows

In [16]:
# 기준년월
basYm = soup.select('basYm')
basYm

[<basym>201709</basym>,
 <basym>202109</basym>,
 <basym>201609</basym>,
 <basym>201403</basym>,
 <basym>201503</basym>,
 <basym>201806</basym>,
 <basym>201106</basym>,
 <basym>201809</basym>,
 <basym>201203</basym>,
 <basym>201712</basym>]

In [17]:
# 금융회사코드
fncoCd = soup.select('fncoCd')
fncoCd

[<fncocd>0010626</fncocd>,
 <fncocd>0010626</fncocd>,
 <fncocd>0010626</fncocd>,
 <fncocd>0010626</fncocd>,
 <fncocd>0010626</fncocd>,
 <fncocd>0010626</fncocd>,
 <fncocd>0010626</fncocd>,
 <fncocd>0010626</fncocd>,
 <fncocd>0010626</fncocd>,
 <fncocd>0010626</fncocd>]

In [18]:
# 금융회사명
fncoNm = soup.select('fncoNm')
fncoNm

[<fnconm>메리츠화재해상보험주식회사</fnconm>,
 <fnconm>메리츠화재해상보험주식회사</fnconm>,
 <fnconm>메리츠화재해상보험주식회사</fnconm>,
 <fnconm>메리츠화재해상보험주식회사</fnconm>,
 <fnconm>메리츠화재해상보험주식회사</fnconm>,
 <fnconm>메리츠화재해상보험주식회사</fnconm>,
 <fnconm>메리츠화재해상보험주식회사</fnconm>,
 <fnconm>메리츠화재해상보험주식회사</fnconm>,
 <fnconm>메리츠화재해상보험주식회사</fnconm>,
 <fnconm>메리츠화재해상보험주식회사</fnconm>]

In [19]:
# 보험종류경과손해율구분금액
ClsfAmt = soup.select('isuKindElpsLosRatClsfAmt')
ClsfAmt

[<isukindelpslosratclsfamt>76.97</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>75.77</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>83.09</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>91.3</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>90.89</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>77.41</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>81.78</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>79.69</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>83.94</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>78.15</isukindelpslosratclsfamt>]

In [20]:
# 보험종류경과손해율구분코드
RatDcd = soup.select('isuKindElpsLosRatDcd')
RatDcd

[<isukindelpslosratdcd>A</isukindelpslosratdcd>,
 <isukindelpslosratdcd>A</isukindelpslosratdcd>,
 <isukindelpslosratdcd>A</isukindelpslosratdcd>,
 <isukindelpslosratdcd>A</isukindelpslosratdcd>,
 <isukindelpslosratdcd>A</isukindelpslosratdcd>,
 <isukindelpslosratdcd>A</isukindelpslosratdcd>,
 <isukindelpslosratdcd>A</isukindelpslosratdcd>,
 <isukindelpslosratdcd>A</isukindelpslosratdcd>,
 <isukindelpslosratdcd>A</isukindelpslosratdcd>,
 <isukindelpslosratdcd>A</isukindelpslosratdcd>]

In [21]:
# 보험종류경과손해율구분코드명
RatDcdNm = soup.select('isuKindElpsLosRatDcdNm')
RatDcdNm

[<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>,
 <isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>,
 <isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>,
 <isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>,
 <isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>,
 <isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>,
 <isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>,
 <isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>,
 <isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>,
 <isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>]

In [24]:
ClsfAmt

[<isukindelpslosratclsfamt>76.97</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>75.77</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>83.09</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>91.3</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>90.89</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>77.41</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>81.78</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>79.69</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>83.94</isukindelpslosratclsfamt>,
 <isukindelpslosratclsfamt>78.15</isukindelpslosratclsfamt>]

In [22]:
ClsfAmt[0]

In [23]:
ClsfAmt[0].text

'76.97'

In [25]:
for n in ClsfAmt :
    print(n.text)

76.97
75.77
83.09
91.3
90.89
77.41
81.78
79.69
83.94
78.15

In [26]:
ClsfAmt_result = []

for n in ClsfAmt :
    ClsfAmt_result.append(n.text)
    
ClsfAmt_result

['76.97',
 '75.77',
 '83.09',
 '91.3',
 '90.89',
 '77.41',
 '81.78',
 '79.69',
 '83.94',
 '78.15']

### 데이터 정리하기

In [27]:
# 한 페이지 아이템 목록
items = soup.select('item')
len(items)

10

In [28]:
items[0]

<item>
<basym>201709</basym>
<crno>1101110013328</crno>
<fncocd>0010626</fncocd>
<fnconm>메리츠화재해상보험주식회사</fnconm>
<isukindelpslosratclsfamt>76.97</isukindelpslosratclsfamt>
<isukindelpslosratdcd>A</isukindelpslosratdcd>
<isukindelpslosratdcdnm>경과손해율_자동차</isukindelpslosratdcdnm>
</item>

In [29]:
items[0].select('fnconm')[0].text

'메리츠화재해상보험주식회사'

In [30]:
basYm = []
crno = []
fncoCd = []
fncoNm = []
ClsfAmt = []
RatDcd = []
RatDcdNm = []

for item in items:
    basYm.append(item.select('basym')[0].text)
    crno.append(item.select('crno')[0].text)    
    fncoCd.append(item.select('fncocd')[0].text)
    fncoNm.append(item.select('fnconm')[0].text)
    ClsfAmt.append(item.select('isukindelpslosratclsfamt')[0].text)
    RatDcd.append(item.select('isukindelpslosratdcd')[0].text)
    RatDcdNm.append(item.select('isukindelpslosratdcdnm')[0].text)

In [31]:
len(ClsfAmt)

10

In [32]:
ClsfAmt

['76.97',
 '75.77',
 '83.09',
 '91.3',
 '90.89',
 '77.41',
 '81.78',
 '79.69',
 '83.94',
 '78.15']

### 반복문을 활용해 한번에 API 요청 - 페이지별로 호출하여 결합
총 20160개 아이템을 페이지당 100개씩 호출하면, 총 202페이지 필요

In [33]:
int(totalCount[0].text) // 100 + 1

202

In [34]:
"http://apis.data.go.kr/1160100/service/GetNonlInsuCompInfoService/getNonlInsuCompMajoBusiActi?serviceKey=" + ServiceKey + "&numOfRows=100&pageNo=" + str(1)

'http://apis.data.go.kr/1160100/service/GetNonlInsuCompInfoService/getNonlInsuCompMajoBusiActi?serviceKey=ATwHinqqgg1NCHfszs0ceuZwoPdJ2yZQy5ursnnWlEq1GgsWdTG7x7lO%2BKq3aZflulOxHPF0BPsgxDgpII3udA%3D%3D&numOfRows=100&pageNo=1'

In [36]:
basYm = []
crno = []
fncoCd = []
fncoNm = []
ClsfAmt = []
RatDcd = []
RatDcdNm = []

# 손해보험주요영업활동조회
url = "http://apis.data.go.kr/1160100/service/GetNonlInsuCompInfoService/getNonlInsuCompMajoBusiActi?"

api_url = url + "serviceKey="+ ServiceKey + "&numOfRows="+ str(100)

for page in range(1, 203, 1):
    if page % 10 == 0:
        print(page)
    
    page_url = api_url + "&pageNo=" + str(page)
    
    req = requests.get(page_url)
    xml = req.text
    soup = BeautifulSoup(xml, 'html.parser')   
    
    # 한 페이지 아이템 목록
    items = soup.select('item')
    
    for item in items:
        basYm.append(item.select('basym')[0].text)
        crno.append(item.select('crno')[0].text)    
        fncoCd.append(item.select('fncocd')[0].text)
        fncoNm.append(item.select('fnconm')[0].text)
        ClsfAmt.append(item.select('isukindelpslosratclsfamt')[0].text)
        RatDcd.append(item.select('isukindelpslosratdcd')[0].text)
        RatDcdNm.append(item.select('isukindelpslosratdcdnm')[0].text)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200

In [37]:
len(fncoNm)

20160

In [38]:
result = {
    'basYm': basYm, 
    'crno': crno, 
    'fncoCd': fncoCd, 
    'fncoNm': fncoNm, 
    'ClsfAmt': ClsfAmt, 
    'RatDcd': RatDcd, 
    'RatDcdNm': RatDcdNm,     
}

data = pd.DataFrame(result)
data.head()

    basYm           crno   fncoCd         fncoNm ClsfAmt RatDcd   RatDcdNm
0  201709  1101110013328  0010626  메리츠화재해상보험주식회사   76.97      A  경과손해율_자동차
1  202109  1101110013328  0010626  메리츠화재해상보험주식회사   75.77      A  경과손해율_자동차
2  201609  1101110013328  0010626  메리츠화재해상보험주식회사   83.09      A  경과손해율_자동차
3  201403  1101110013328  0010626  메리츠화재해상보험주식회사    91.3      A  경과손해율_자동차
4  201503  1101110013328  0010626  메리츠화재해상보험주식회사   90.89      A  경과손해율_자동차

In [39]:
data.tail()

        basYm           crno   fncoCd      fncoNm ClsfAmt RatDcd  RatDcdNm
20155  201909  1101112629355  0011354  하나손해보험주식회사   16.24      G  순사업비율_장기
20156  201909  1101112629355  0011354  하나손해보험주식회사   15.18      H  순사업비율_합계
20157  201909  1101112629355  0011354  하나손해보험주식회사  108.83      I  합산비율_자동차
20158  201909  1101112629355  0011354  하나손해보험주식회사  116.14      J   합산비율_일반
20159  201909  1101112629355  0011354  하나손해보험주식회사  105.66      K   합산비율_장기

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20160 entries, 0 to 20159
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   basYm     20160 non-null  object
 1   crno      20160 non-null  object
 2   fncoCd    20160 non-null  object
 3   fncoNm    20160 non-null  object
 4   ClsfAmt   20160 non-null  object
 5   RatDcd    20160 non-null  object
 6   RatDcdNm  20160 non-null  object
dtypes: object(7)
memory usage: 1.1+ MB

In [41]:
# 숫자로 변환
data['ClsfAmt'] = data['ClsfAmt'].astype('float')

In [42]:
data['fncoNm'].str.contains("주식회사")

0        True
1        True
2        True
3        True
4        True
         ...
20155    True
20156    True
20157    True
20158    True
20159    True
Name: fncoNm, Length: 20160, dtype: bool

In [44]:
data.loc[data['fncoNm'].str.contains("DB"), :]

        basYm           crno   fncoCd      fncoNm  ClsfAmt RatDcd   RatDcdNm
245    201709  1101110095285  0010636  DB손해보험주식회사    79.05      A  경과손해율_자동차
246    202109  1101110095285  0010636  DB손해보험주식회사    77.93      A  경과손해율_자동차
247    201609  1101110095285  0010636  DB손해보험주식회사    80.64      A  경과손해율_자동차
248    201403  1101110095285  0010636  DB손해보험주식회사    85.64      A  경과손해율_자동차
249    201503  1101110095285  0010636  DB손해보험주식회사    85.82      A  경과손해율_자동차
...       ...            ...      ...         ...      ...    ...        ...
19894  201812  1101110095285  0010636  DB손해보험주식회사    19.46      H   순사업비율_합계
19895  201812  1101110095285  0010636  DB손해보험주식회사   104.32      I   합산비율_자동차
19896  201812  1101110095285  0010636  DB손해보험주식회사    91.78      J    합산비율_일반
19897  201812  1101110095285  0010636  DB손해보험주식회사   103.00      K    합산비율_장기
19898  201812  1101110095285  0010636  DB손해보험주식회사   102.81      L    합산비율_합계

[576 rows x 7 columns]

In [99]:
# data.to_csv('파일이름.csv', index=False)

# [실습] 
"손해보험주요경영지표" 데이터를 수집하여 정리합니다.